---
---

$dark-blue: #212E3A;
$font: "Open Sans";

section
{
    padding: 50px;
}

.nav-section
{
    background-color: $dark-blue;
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 20px;
    z-index: 9999;

    .navbar
    {
        background-color: transparent;
        border: none;
        border-radius: 0px;
        width: auto;
        display: inline-block;
        margin: 0px auto;

        .nav.navbar-nav li a
        {
            color: #fff;
            font-size: 20px;
        }

        .nav.navbar-nav li.active a
        {
            color: #fff;
            background-color: transparent;
            border-bottom: 4px solid #D9534F;
        }
    }
}

.main-section
{
    background-color: $dark-blue;
}

.img-pp
{
    border: 6px solid #ffffff;
}

h1
{
    font-family: $font;
    color: #ffffff;
    font-size: 48px;
    font-weight: 600;
    text-shadow: 3px 3px 0px #222F37;
}

h2
{
    font-family: $font;
    color: #ffffff;
    font-size: 40px;
    font-weight: 600;
}

h3,
h3 a
{
    font-family: Arial;
    color: #ffffff;
    font-size: 26px;
    font-weight: 300;
    margin: 0px;
    padding: 0px;
}

p
{
    font-family: $font;
    color: #FFFDFA;
}