---
---

@import url(http://fonts.googleapis.com/css?family=Ubuntu:500&subset=latin,latin-ext);

$font: "Ubuntu";

$dark-red: #D47A6A;
$medium-red: #AA4B39;
$red: #FFB7AA;
$dark-grey: #525252;

$blue: #2C3E50;
$light-blue: #457585;
$light-light-blue: #6C929F;

$green: #4C7513;
$dark-green: #2D4E00;

body
{
    background-color: $blue;
    line-height: 24px !important;
}

a
{
    color: $green;
    transition: color 0.1s ease-in 0s;
}

a:hover
{
    color: $dark-green;
}

.img-pp
{
    border: 6px solid $dark-red;
    width: 200px;
    height: 200px;
}

.sidebar
{
    background-color: $blue !important;
    color: #fff !important;
    position: fixed;
    top: 0px;
    padding-top: 6%;
}

.bio
{
    font-family: $font;
    font-size: 16px;
}

article.home h1 a,
article.home h2 a,
article.home h3 a,
article.home h1,
article.home h2,
h1,
h2
{
    font-family: $font;
    position: relative;
    color: $dark-grey !important;
    font-weight: normal;
}

article.home h2
{
    margin-bottom: 15px !important;
}

article.home h3 a,
article.home h3,
h3
{
    font-size: 24px;
    font-weight: normal !important;
    color: $dark-grey !important;
    margin-top: 25px;
    margin-bottom: 25px;
}

article.home h4 a,
article.home h4,
h4
{
    font-size: 20px;
    font-weight: normal !important;
    color: $dark-grey !important;
    margin-top: 25px;
    margin-bottom: 25px;
}

article.home h2 a:before
{
    content: "#";
    margin-left: -25px;
    position: absolute;
    font-size: 28px;
    top: 2px;
    color: $red;
    opacity: 0.6;
}

.page-header
{
    margin: 0px;
}

.page-header h1
{
    margin-left: 28px;
}

.page-header h1:before
{
    content: "#";
    margin-left: -28px;
    position: absolute;
    font-size: 28px;
    top: 5px;
    color: $red;
    opacity: 0.6;
}

.post-date
{
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 3px;
}

.social-link
{
    color: $dark-red;
    font-size: 40px;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}

.social-link:hover
{
    color: #55acee;
}

.default-content
{
    background-color: #ffffff !important;
    padding: 60px;
}

article
{
    padding: 2% !important;
    margin-bottom: 40px;
}

.highlight pre
{
    background-color: #333333 !important;
    border-radius: 0px !important;
    border: none !important;
    padding: 8px !important;
    color: #ffffff !important;
}

.highlight pre code .lineno
{
    background-color: #444444 !important;
    color: #999 !important;
    width: 30px;
    text-align: center;
}

.highlight pre code *
{
    display: inline-block;
    padding: 0px !important;
    line-height: 22px !important;
}

.pager li > a,
.pager li > span
{
    border: none !important;
}

.pager li > a:hover
{
    background-color: transparent !important;
    text-decoration: underline;
}

.sidebar-header
{
    text-align: center;
    margin-bottom: 10px;
}

.sidebar-header .title
{
    letter-spacing: 3px;
    text-transform: uppercase;
}

.sidebar-header .title a
{
    text-decoration: none;
    color: #fff;
}

.sidebar-header a
{
    color: #fff;
}

#bio
{
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    margin: 0px auto 10px;
}

.article_body
{
    margin-top: 40px;
    margin-bottom: 40px;
}

.tag
{
    background-color: #CCC;
    padding: 5px 10px;
    color: #FFF;
    cursor: pointer;
    font-size: 12px;
    margin-left: 2px;
    transition: background-color 0.1s ease-in 0s;
}

.tag:hover
{
    background-color: $green !important;
    color: #ffffff;
    text-decoration: none;
}

.highlight
{
    margin-top: 15px;
    margin-bottom: 15px;
}

.videowrapper
{
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0px;
    margin-top: 30px;
}

.videowrapper iframe
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 1px solid #DEDEDE;
    padding: 5px;
}