{% include header.html %}

<a class="button-up" href="#top">
    <i class="fa fa-chevron-up"></i>
</a>
<div class="container-fluid">

    <section class="row nav-section">
        <div class="text-center">
            <nav class="navbar navbar-default">
                <ul class="nav navbar-nav">
                    <li><a href="#top">Welcome</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">About Me</a></li>
                </ul>
            </nav>
        </div>
    </section>

    <section class="row main-section" id="top">
        <div class="text-center" style='width: 700px; margin: 0px auto; padding-top: 60px;'>
            <img src="https://s.gravatar.com/avatar/ea3ca2e73f7abf90d7d975bf8c65f8e8?s=250" class="img-circle img-pp" width="250" />
            <h1>{{ site.title }}</h1>
            <p class='lead'>
                {{ site.description }}
            </p>

            <div>
                <a href="" style="color: #364C61; font-size: 40px;"><i class="fa fa-linkedin-square"></i></a>
                &nbsp;&nbsp;
                <a href="" style="color: #364C61; font-size: 40px;"><i class="fa fa-github"></i></a>
                &nbsp;&nbsp;
                <a href="" style="color: #364C61; font-size: 40px;"><i class="fa fa-twitter"></i></a>
            </div>
        </div>
    </section>

    <section class="row text-center" style="background-color: #D9534F; border-top: 6px solid #9E3C3A;">
        <h2>
            <i class="fa fa-fw fa-github"></i>
            Open Source Projects
        </h2>

        <br/>

        <div style="width: 900px; margin: 0px auto;" class="text-left">

            <div class="col-xs-6">
                <div style="background-color: #9E3C3A; padding: 20px; position: relative; margin-bottom: 10px;" class="text-left">
                    <div style="background-repeat: repeat-x; background-position: bottom;">
                        <h3>
                            <a href="">arcturial/clickatell</a>
                            <span class="pull-right" style="color: #D9534F;">
                                <i class="fa fa-star"></i> 5
                            </span>
                        </h3>
                        <br/>
                        <p>
                            Coveralls works with your continuous integration server to give you test coverage history and statistics.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div style="background-color: #9E3C3A; padding: 20px; position: relative; margin-bottom: 10px;" class="text-left">
                    <div style="background-repeat: repeat-x; background-position: bottom;">
                        <h3>
                            <a href="">arcturial/clickatell</a>
                            <span class="pull-right" style="color: #D9534F;">
                                <i class="fa fa-star"></i> 5
                            </span>
                        </h3>
                        <br/>
                        <p>
                            Coveralls works with your continuous integration server to give you test coverage history and statistics.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div style="background-color: #9E3C3A; padding: 20px; position: relative; margin-bottom: 10px;" class="text-left">
                    <div style="background-repeat: repeat-x; background-position: bottom;">
                        <h3>
                            <a href="">arcturial/clickatell</a>
                            <span class="pull-right" style="color: #D9534F;">
                                <i class="fa fa-star"></i> 5
                            </span>
                        </h3>
                        <br/>
                        <p>
                            Coveralls works with your continuous integration server to give you test coverage history and statistics.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="row text-center" style="background-color: #ffffff; border-top: 6px solid #dedede;">


        <h2 style="color: #2C2F39;">
            <i class="fa fa-fw fa-bullhorn"></i>
            Blog
        </h2>

        <br/>

        <div style="width: 600px; margin: 0px auto;" class="text-left">

            <ul style="list-style: none; padding: 0px; margin: 0px;">
                <li style="line-height: 22px; padding-bottom: 10px; margin-bottom: 10px; background-color: #efefef; padding: 10px;">
                    <span style=" vertical-align: top;display: inline-block; background-color: #333333; color: #ffffff; padding: 5px; padding-left: 10px; padding-right: 10px;">Sep 10, 2014</span>
                    &nbsp;&nbsp;
                    <a style="color: #46627D; vertical-align: top;font-size: 22px; line-height: 32px; height: 32px; display: inline-block;">Lorem Ipsum</a>

                    <br/><br/>

                    <p style="color: #333333;">
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                    </p>

                    <p style="color: #333333;">
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                    </p>
                </li>
                <li style="line-height: 22px; padding-bottom: 10px; margin-bottom: 10px; background-color: #efefef; padding: 10px;">
                    <span style=" vertical-align: top;display: inline-block; background-color: #333333; color: #ffffff; padding: 5px; padding-left: 10px; padding-right: 10px;">Sep 10, 2014</span>
                    &nbsp;&nbsp;
                    <a style="color: #46627D; vertical-align: top;font-size: 22px; line-height: 32px; height: 32px; display: inline-block;">Lorem Ipsum</a>
                </li>
                <li style="line-height: 22px; padding-bottom: 10px; margin-bottom: 10px; background-color: #efefef; padding: 10px;">
                    <span style=" vertical-align: top;display: inline-block; background-color: #333333; color: #ffffff; padding: 5px; padding-left: 10px; padding-right: 10px;">Sep 10, 2014</span>
                    &nbsp;&nbsp;
                    <a style="color: #46627D;vertical-align: top;font-size: 22px; line-height: 32px; height: 32px; display: inline-block;">Lorem Ipsum</a>
                </li>
            </ul>
        </div>
    </section>

    <section class="row text-center" style="background-color: #364C61; border-top: 6px solid #212E3A;">

        <h2>
            About Me
        </h2>

    </section>
</div>

{% include footer.html %}