<br/>

<hr>
<ul class="pager">
    {% if page.previous %}
    <li class="previous">
        <a href="{{ site.url }}{{ page.previous.url }}" title="{{ page.previous.title }}">
            <span class="visible-xs"><i class="fa fa-fw fa-chevron-left"></i>&nbsp;Previous</span>
            <span class="hidden-xs"><i class="fa fa-fw fa-chevron-left"></i>&nbsp;{{ page.previous.title }}</span>
        </a>
    </li>
    {% endif %}

    {% if page.next %}
    <li class="next">
        <a href="{{ site.url }}{{ page.next.url }}" title="{{ page.next.title }}">
            <span class="visible-xs">Next&nbsp;<i class="fa fa-fw fa-chevron-right"></i></span>
            <span class="hidden-xs">{{ page.next.title }}&nbsp;<i class="fa fa-fw fa-chevron-right"></i></span>
        </a>
    </li>
    {% endif %}
</ul>
<hr>