<!DOCTYPE html>
<html>
{% include header.html %}
<body>
    <nav class="navbar navbar-default visible-xs" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ site.baseurl }}/">
                <img src="https://s.gravatar.com/avatar/ea3ca2e73f7abf90d7d975bf8c65f8e8?s=35" class="img-circle img-pp" width="35" />
                {{ site.title }}
            </a>
        </div>
    </nav>

    <div class="col-sm-3 sidebar hidden-xs">
        {% include sidebar.html %}
    </div>

    <div class="col-sm-9 col-sm-offset-3 default-content">
        {{ content }}
    </div>

    {% include footer.html %}
</body>
</html>