<!DOCTYPE html>
<html>
{% include header.html %}
<body>
    <nav class="navbar navbar-default visible-xs" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ site.url }}/">
                {{ site.title }}
            </a>

            <ul class="list-unstyled list-inline pull-right">
                <li>
                    <a href="{{ site.linkedin }}" class="social-link" target="_blank"><i class="fa fa-linkedin-square"></i></a>
                </li>
                <li>
                    <a href="{{ site.github }}" class="social-link" target="_blank"><i class="fa fa-github"></i></a>
                </li>
                <li>
                    <a href="{{ site.twitter }}" class="social-link" target="_blank"><i class="fa fa-twitter"></i></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 sidebar hidden-xs">
                {% include sidebar.html %}
            </div>
            <div class="col-lg-9 default-content">
                {{ content }}
            </div>
        </div>
    </div>

    {% include footer.html %}
</body>
</html>