---
layout: default
---
<div class="page-header">
    <h1>{{ page.title }} {% if page.tagline %}<small>{{ page.tagline }}</small>{% endif %}</h1>
</div>

<article>

    <div class="col-sm-12">
        <span class="post-date">
            {% assign d = page.date | date: "%d" | plus:'0' %}
            {{ page.date | date: "%B" }}
            {% case d %}
                {% when 1 or 21 or 31 %}{{ d }}st,
                {% when 2 or 22 %}{{ d }}nd,
                {% when 3 or 23 %}{{ d }}rd,
                {% else %}{{ d }}th,
            {% endcase %}
            {{ page.date | date: "%Y" }}
        </span>
        <div class="article_body">
            {{ content }}
        </div>

    </div>
</article>
<div class="clearfix"></div>

<div class="fb-like" data-href="{% if page.old_url %}{{ page.old_url }}{% else %}{{ site.baseurl }}{{ page.url }}{% endif %}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
<a href="https://twitter.com/share" data-url="{% if page.old_url %}{{ page.old_url }}{% else %}{{ site.baseurl }}{{ page.url }}{% endif %}" class="twitter-share-button" data-via="Arcturial">Tweet</a>

<hr>
<div id="disqus_thread"></div>

{% include pager.html %}